body {
  background-color: black;
}

.topsearch {
  text-align: center;
  color: yellow;
  margin-bottom: 1%;
  margin-top: 0%;
}

h2 {
  margin-bottom: 2%;
}
p {
  font-weight: bold;
  margin: 2%;
  color: blue;
}
h2 {
  margin-top: 0%;
  color: blue;
}
.sign-out {
  text-align: end;
  font-family: "Courier New", Courier, monospace;
  margin-right: 90px;
  margin-top: 20px;
  font-size: 20px;
}
.button:hover,
a:hover {
  background: black;
}
a:hover {
  background: rgb(190, 2, 2);
}

.button,
a {
  margin-bottom: 0%;
  margin-top: 3px;
  text-align: end;
  margin-right: auto;
  background-color: blue;
  color: yellow;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 15px;
}
::placeholder {
  color: blue;
}
.button {
  padding: 0px;
}

.bttn {
  background-color: blue;
  font-size: 15px;
  padding: 2px;
}

.ul {
  overflow-y: scroll;
  height: 400px;
  border: 2px solid white;
}
* {
  box-sizing: border-box;
}
img {
  border-radius: 100px;
}
a {
  text-decoration: none;
}
